    ul.menu li {
        display: inline;
    }
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-family:
    }
    
    ul {
        text-align: center
    }
    
    li {
        margin: 0 1rem
    }
    
    div.card {
        display: inline-block;
        margin: 0 1rem;
    }
    
    div.word {
        text-transform: uppercase;
    }
    
    .wrapper {
        text-align: center;
        margin-bottom: 1rem;
    }